.containerFooter {
  display: grid;
  overflow-x: none;
  .footers {
    z-index: 2;
    padding: 20vw 5vw 10vw 5vw;
    display: grid;
    .location {
      font-family: 'extR', Fallback, sans-serif;
    }
    .location span {
      line-height: 1.1;
      display: block;
      gap: 5rem;
    }
  }

  @media screen and (max-width: 1199px) {
    .footers {
      padding-bottom: 0vw;
    }
    .location span {
      font-size: 9vw;
    }
  }

  @media screen and (max-width: 480px) {
    .location span {
      font-size: 7vw;
    }
  }

  @media (min-width: 1199px) {
    .footers {
      padding: 20vw 5vw 0vw 5vw;
    }
    .location span {
      font-size: 8vw;
    }
  }
  @media (max-width: 991px) {
    .location span {
      font-size: 9vw;
      line-height: 1.2;
    }
  }
  @media (max-width: 767px) {
    .location span {
      font-size: 10vh;
    }
  }
  @media screen and (max-width: 576px) {
    .location span {
      font-size: 8vh;
    }
  }
  @media screen and (max-width: 480px) {
    .footers {
      padding-top: 10rem;
    }
    .location span {
      font-size: 7vh;
    }
  }
  @media screen and (max-width: 414px) {
    .location span {
      font-size: 6vh;
    }
  }
  @media screen and (max-width: 374px) {
    .location span {
      font-size: 6vh;
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    margin-top: 150px;
    height: 500px;
    background-color: #161616;
    text-transform: uppercase;
    color: white;
  }
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
  }
  .footer-container .message-for-users span {
    font-size: 20px;
    font-family: 'Inter';
    font-weight: lighter;
    margin: 20px;
  }
  .footer-container .social-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
  }
  .footer-container .social-links .social-links-h {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Inter';
    font-weight: bold;
  }
  .footer-container .social-links .social-links-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer a,
  .footer p {
    color: #e0e0e0;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: lighter;
    cursor: pointer;
    margin-top: 5px;
    border-bottom: 1px dashed transparent;
    transition: border 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  }
  .footer-container p:hover,
  .footer-container a:hover {
    border-bottom: 1px dashed white;
    transition: text-decoration 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  }
  .footer-btn {
    padding: 85px 50px;
    border: 1px dashed white;
    border-radius: 50%;
    margin: 20px;
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  .left-footer-bottom {
    margin-left: 80px;
  }
  .right-footer-bottom {
    margin-right: 50px;
  }

  .footer-ticker-item {
    font-weight: bold;
    color: black;
    font-family: 'Inter';
    font-size: 15px;
    text-transform: uppercase;
  }

  @media (max-width: 900px) {
    .footer {
      height: 750px;
    }
    .footer-container {
      flex-wrap: wrap;
      height: 100%;
    }
    .message-for-users span {
      display: none;
    }
    .footer-bottom {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .left-footer-bottom {
      margin-left: 0px;
    }
    .right-footer-bottom {
      margin-right: 0px;
    }
  }
  @media (max-width: 400px) {
    .footer {
      height: 850px;
    }
    .left-footer-bottom p {
      margin-left: 0px;
      font-size: 12px;
    }
    .right-footer-bottom p {
      margin-right: 0px;
      font-size: 12px;
    }
  }
  .location {
    font-family: 'extR';
  }
}
