.prs {
  width: 100%;
  padding-top: 15rem;
  img {
    width: 100%;
  }
  .tag {
    display: flex;
    align-items: center;
    gap: 10rem;
    justify-content: space-evenly;
  }
}
.img {
  width: 100%;
}
.titlediv {
  overflow: hidden;
}
.title {
  color: hsl(22, 55%, 85%);
  font-size: 10vw;
  padding: 0rem 0rem 2rem;
  font-family: 'camar', Fallback, sans-serif;
  text-align: center;
  display: block;
  span {
    display: inline-block;
    position: relative;
  }
}
.prtitle {
  color: hsl(22, 55%, 85%);
  padding-top: 10rem;
  padding-bottom: 2rem;
  font-size: 10vw;
  font-family: 'camar', Fallback, sans-serif;
  text-align: center;
}
.subtitle {
  color: hsl(22, 15%, 55%);
  font-size: 2vw;

  font-family: 'Poppins', Fallback, sans-serif;

  line-height: 1.5;
  font-weight: 800;
}
.category {
  font-family: 'Poppins', sans-serif;

  color: hsl(22, 15%, 55%);
  font-size: 1.5vw;
}
.challenge {
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;

  font-size: 7rem;
  text-align: left;
  padding: 0vw 5vw;
  color: hsl(22, 15%, 55%);
  font-weight: 400;
}
.challenge {
  line-height: 1.25;
  display: inline-block;
}

@media screen and (max-width: 1199px) {
  .challenge {
    font-size: 7rem;
  }
}

@media screen and (max-width: 480px) {
  .challenge {
    font-size: 2rem;
  }
}

@media (min-width: 1199px) {
  .challenge {
    font-size: 9rem;
  }
}
@media (max-width: 991px) {
  .challenge {
    font-size: 6.5rem;
  }
}
@media (max-width: 767px) {
  .challenge {
    font-size: 5.5rem;
  }
  .title {
    font-size: 15vw;
  }
  .prtitle {
    font-size: 15vw;
    padding-top: 2rem;
  }
  .subtitle {
    display: none;
    font-size: 2rem;
  }
  .category {
    display: none;

    font-size: 1.22rem;
  }
}
@media screen and (max-width: 576px) {
  .challenge {
    font-size: 5rem;
  }
}
@media screen and (max-width: 480px) {
  .challenge {
    font-size: 4rem;
  }
}
@media screen and (max-width: 414px) {
  .challenge {
    font-size: 3.3rem;
  }
}
@media screen and (max-width: 374px) {
  .challenge {
    font-size: 2.9rem;
  }
}
