.section-wrapper {
  padding: 20vw 5vw 10vw 5vw;
  position: relative;
  overflow: hidden;
  .gallery img {
    // background-size: cover;
    // background-position: center;
    // transform-origin: center;
    width: 80%;
    will-change: transform;
    transform: scale(0.7);
    transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1);
    filter: grayscale(100%) sepia(20%) brightness(80%);
  }
  .gallery {
    display: flex;
    flex-direction: column;
    .pr {
      position: relative;

      .titlediv {
        position: absolute;
        top: 50%;
        left: 40%;
        .title {
          font-size: 10vw;
          color: #764abc;
        }
        .subtitle {
          font-size: 2vw;
        }
        .category {
          font-size: 1vw;
        }
      }
    }
  }
  .gallery::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 50rem;
    background: #764abc;
    // transform: skew(30deg) translateX(100%);
    z-index: -1;
    transition: all 0.6s ease;
  }
}
