.section-wrapper {
  padding: 20vw 5vw 10vw 5vw;
  position: relative;
  overflow: hidden;
  .gallery img {
    // background-size: cover;
    // background-position: center;
    // transform-origin: center;
    width: 80%;
    will-change: transform;
    transform: scale(0.7);
    // transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.8s ease;
    filter: grayscale(100%) sepia(20%) brightness(60%);
    &:hover {
      transform: scale(0.9);
      filter: grayscale(5%) sepia(0%) brightness(95%);
    }
  }
  .pr1 {
    overflow: none;
    border: 2rem solid #fff;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    .pr {
      position: relative;

      .titlediv {
        position: absolute;
        top: 50%;
        left: 40%;
        .title {
          font-size: 10vw;
          font-family: 'camar', Fallback, sans-serif;
        }
        .subtitle {
          font-size: 2vw;
          font-family: 'montR', Fallback, sans-serif;
          line-height: 1.5;
        }
        .category {
          font-family: 'montR', Fallback, sans-serif;
          font-size: 1.5vw;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .section-wrapper {
    .gallery {
      gap: 4rem;
    }
    .gallery img {
      width: 100%;
      transform: scale(1);
    }
  }
}
@media screen and (min-width: 1199px) {
  .section-wrapper {
    .gallery {
      gap: 15rem;
    }
  }
}
@media screen and (max-width: 420px) {
  .section-wrapper {
    .gallery {
      gap: 2rem;
    }
  }
}
