.section-wrapper {
  padding: 5rem 0vw 0rem 0vw;
  position: relative;
  overflow: hidden;

  .projectTitle {
    padding-bottom: 6rem;
  }
  .pr1 {
    overflow: none;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: nowrap;
    height: 100%;

    .pr {
      width: 100%;
      padding-bottom: 0rem;

      .hj {
        position: relative;
        display: flex;
        img {
          background-size: auto;
          width: 100%;
          top: 20%;
          cursor: pointer;
          will-change: transform;
          clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
          scale: (0.9);
          // transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1);
          transition: all 0.8s ease;
          filter: grayscale(100%) sepia(20%) brightness(60%);
          &:hover {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            // transform: scale(1.1);
            filter: grayscale(5%) sepia(0%) brightness(100%);
          }
        }
      }

      .titlediv {
        display: flex;
        margin-top: -20vw;
        width: 100%;
        gap: 2vw;
        align-items: start;
        position: relative;
        .title-num {
          font-size: 25vw;
          font-family: 'camar';
          line-height: 0.8;
          opacity: 01.5;
          display: none;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke-width: 2px;
        }

        .title-section {
          width: 100%;
          left: 40%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .title {
            color: #5a2add;
            font-size: 5.4rem;
            padding-left: 5vw;
            padding-bottom: 3rem;
            font-family: 'camar', Fallback, sans-serif;
          }
          .line {
            width: 100%;
            height: 1px;
            display: block;
            background-color: #fff0e7;
            opacity: 0.5;
          }
          .See {
            position: absolute;
            padding-left: 5vw;
            font-size: 2.6rem;
            font-family: 'Poppins';
            text-transform: uppercase;
            bottom: 10%;
            right: 10%;
            letter-spacing: 1px;
            border-radius: 50rem;
            border: 1px solid #5a2add;
            padding: 1rem 2.5rem;
          }
          .dwmenu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            width: 100%;
            margin-top: -2vw;
            .subtitle {
              color: hsl(22, 55%, 85%);
              text-transform: uppercase;
              padding: 3rem 5vw 2rem;
              font-size: 2rem !important;
              font-family: 'extR', Fallback, sans-serif;

              letter-spacing: 1px;
            }
            .category {
              color: hsl(22, 55%, 85%);
              font-family: 'Poppins', Fallback, sans-serif;
              padding-left: 5vw;
              padding-top: 1rem;
              font-size: 3.6rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1040px) {
  .section-wrapper {
    .gallery {
      gap: 4rem;
      .pr {
        .hj {
          img {
            width: 100%;
            transform: scale(0.85);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          }
        }
        .titlediv {
          padding-top: 02rem;
          margin-top: 0vw;

          position: initial;
          place-content: start !important;

          .title {
            font-size: 12.5vw;
          }
        }
        .dwmenu {
          .subtitle {
            font-size: 1.6rem;
          }
          .category {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 568px) {
  .section-wrapper {
    .gallery {
      gap: 2rem;
      .pr {
        height: 90vh !important;
        position: relative !important;
      }
    }
    .gallery img {
      width: 100%;
      transform: scale(1.1) !important;
    }
    .title-num {
      font-size: 70vw !important;
      position: absolute;
      opacity: 0.3 !important;
      top: 50%;
      left: -15% !important;
      // display: none;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px !important;
    }
    .titlediv {
      flex-direction: column;

      .title-section {
        padding-top: 3rem;
        .title {
          padding-bottom: 1.6rem !important;
        }
        .title-num {
          animation-name: text-float;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
          @keyframes text-float {
            50% {
              padding-left: 2vw;
              -webkit-text-stroke-width: 3px !important;
            }
          }
        }
        .dwmenu {
          .subtitle {
            font-size: 1.8rem !important;
          }
          .category {
            font-size: 1.6rem !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-wrapper {
    .gallery {
      gap: 2rem;
    }
    .gallery img {
      width: 100%;
      // transform: scale(1.1) !important;
    }
  }
}
@media screen and (min-width: 1199px) {
  .section-wrapper {
    .gallery {
      gap: 15rem;
    }
  }
}
@media screen and (max-width: 420px) {
  .section-wrapper {
    .gallery {
      gap: 2rem;
    }
  }
}
