@media screen and (max-width: 425px) {
  .tellus {
    font-size: 4rem !important;
    padding-bottom: 3rem !important;
    padding-top: 36px !important;
  }
  .ortag {
    font-size: 2rem !important;
  }
  .emailcon {
    font-size: 2rem !important;
  }
  .container1 {
    gap: 0rem !important;
  }
  .svgsection {
    height: 23rem !important;
  }
  .imagesection {
    height: 85%;
  }
  .contactsection {
    .contactsection {
      margin-top: 0rem !important;
      padding-top: 0rem !important;
    }
    .container1 {
      gap: 5rem !important;
    }
    .floating-input,
    .floating-select {
      font-size: 10px;
    }
  }
}

@media only screen and (max-width: 1040px) {
  .container1 {
    display: flex;
    flex-direction: column;
    gap: 5rem !important;
  }
  .inputbox {
    margin: 5rem 0rem !important;
  }

  // .imagesection {
  //   height: 100% !important;
  // }
}

@media only screen and (max-width: 1250px) and (min-width: 993px) {
  .tellus {
    font-size: 5rem !important;
    padding-bottom: 3rem !important;
  }
  .container1 {
    gap: 4rem;
  }
  .imagesection {
    height: 75%;
  }
  .svgsection {
    height: 28rem !important;
  }
}
@media only screen and (min-width: 1251px) {
  .contactsection {
    width: 40rem !important;
  }
}

.containercontact {
  display: grid;
  position: relative;
  // place-content: center;
  justify-content: center;
  gap: 1vw;
  overflow: hidden;
  padding: 4rem 5vw;
  align-items: flex-end;
  height: 100%;

  /****  floating-Lable style start ****/
  .floating-form {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 100%;
  }
  .floating-label {
    position: relative;
    margin-bottom: 20px;
  }
  .floating-input,
  .floating-select {
    font-size: 20px;

    display: block;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    color: #fff0e7;
    font-family: 'extR', Fallback, sans-serif;
  }

  .floating-input:focus,
  .floating-select:focus {
    outline: none;
    border-bottom: 2px solid #5a2add;
  }

  label {
    color: #fff0e7;
    font-size: 1.6rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    opacity: 0.3;
    left: 5px;
    top: -5px;
    transition: 0.4s all ease;
    // -moz-transition: 0.2s all ease;
    // -webkit-transition: 0.2s all ease;
  }

  .floating-input:focus ~ label,
  .floating-input:not(:placeholder-shown) ~ label {
    top: -3rem;
    font-size: 1.8remx;
    opacity: 1;
    color: #5a2add;
  }

  .floating-select:focus ~ label,
  .floating-select:not([value='']):valid ~ label {
    top: -22px;
    font-size: 14px;
    color: #5a2add;
  }

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .floating-textarea {
    min-height: 35px;
    max-height: 260px;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-indent: 0;
    overflow-x: hidden;
  }

  /* highlighter */

  .container1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'extR', Fallback, sans-serif;

    font-weight: 500;
    gap: 25rem;
    .svgsection {
      margin-top: 8rem;
    }
  }
  .contactsection {
    margin-top: 10rem;
    padding-top: 3rem;
  }
  .svgsection {
    height: 100%;
    display: flex;
    flex-direction: column;
    .imagesection {
      // background-image: url("../../images/contact.svg");
      background-repeat: no-repeat;
      height: 75%;
      background-size: contain;
      position: relative;

      .contactbg {
        position: absolute;
        top: -10%;
      }
      .tellus {
        font-size: 5rem;
        font-weight: 500;
        color: white;
        padding-top: 49px;
        padding-bottom: 9rem;
        text-align: center;
        vertical-align: middle;
      }
    }

    .ortag {
      border: 1px solid white;
      font-size: 2.4rem;
      padding: 5px;
      font-weight: 500;
      background-color: white;
      color: black;
      border-radius: 3px;
      align-self: flex-start;
      display: inline;
    }
    .emailcon {
      font-size: 2rem;
      font-weight: 500;
      color: white;
      padding-top: 20px;

      a {
        border-bottom: 1px solid white;
      }
    }
  }
}

.buttonbox {
  text-align: end;
  padding-top: 2rem;
  .btn {
    position: relative;
    border: 0;
    padding: 0;
    width: 18rem;
    height: 5.5rem;
    border-radius: 50rem;
    font-family: 'montR', Fallback, sans-serif;
    font-size: 2rem;
    cursor: pointer;
    &__text {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
    }
  }
  .btn--2 {
    overflow: hidden;
    background-color: #111;
    border: 2px solid #fff0e7;
    color: #fff0e7;
    .btn__text {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      line-height: 4.5rem;
      transition: top 0.5s;
    }

    &::after {
      position: absolute;
      top: 100%;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      line-height: 4.5rem;
      background-color: #5a2add;
      content: 'Smash It!!';
      transition: top 0.5s;
      font-size: 2rem;

      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
    }

    &:hover::after {
      top: 0;
    }
    &:hover > .btn__text {
      top: -100%;
    }
  }
}
