@media screen and (max-width: 425px) {
  .tellus {
    font-size: 4rem !important;
    padding-bottom: 3rem !important;
    padding-top: 36px !important;
  }
  .ortag {
    font-size: 2rem !important;
  }
  .emailcon {
    font-size: 2rem !important;
  }
  .container1 {
    gap: 3rem !important;
  }
  .svgsection {
    height: 23rem !important;
  }
  .imagesection {
    height: 85%;
  }
}

@media only screen and (max-width: 992px) {
  .container1 {
    display: flex;
    flex-direction: column;
  }
  .inputbox {
    margin: 5rem 0rem !important;
  }

  // .imagesection {
  //   height: 100% !important;
  // }
}

@media only screen and (max-width: 1250px) and (min-width: 993px) {
  .tellus {
    font-size: 5rem !important;
    padding-bottom: 3rem !important;
  }
  .container1 {
    gap: 4rem !important;
  }
  .imagesection {
    height: 75%;
  }
  .svgsection {
    height: 28rem !important;
  }
}
@media only screen and (min-width: 1251px) {
  .contactsection {
    width: 50rem !important;
  }
}

.containercontact {
  display: grid;
  // background-color: #111111;
  position: relative;
  gap: 1vw;
  overflow: hidden;
  padding: 10vw 5vw;
  height: 100%;

  .container1 {
    display: flex;
    justify-content: space-evenly;
    font-family: 'extR', Fallback, sans-serif;

    font-weight: 500;
    gap: 10rem;
    .svgsection {
      margin-top: 8rem;
    }
  }
  .svgsection {
    height: 33rem;
  }
  .imagesection {
    // background-image: url("../../images/contact.svg");
    background-repeat: no-repeat;
    height: 85%;
    background-size: contain;
    position: relative;

    .contactbg {
      position: absolute;
      top: -10%;
    }
    .tellus {
      font-size: 6rem;
      font-weight: 500;
      color: white;
      padding-top: 49px;
      padding-bottom: 9rem;

      vertical-align: middle;
    }
  }

  .ortag {
    border: 1px solid white;
    display: initial;
    font-size: 3rem;
    padding: 5px;
    font-weight: 500;
    background-color: white;
    color: black;
    border-radius: 3px;
  }
  .emailcon {
    font-size: 3rem;
    font-weight: 500;
    color: white;
    padding-top: 20px;

    a {
      border-bottom: 1px solid white;
    }
  }
}

.inputbox {
  position: relative;
  margin: 5rem;
  font-family: 'extR', Fallback, sans-serif;
  width: 100%;
}
form {
  margin: 5rem 0rem;
  text-align: center;
}
.inputbox input[type='text'],
textarea {
  border: 0;
  border-bottom: 1px solid #767676;
  background-color: transparent;
  color: #e8e8e8;
  outline: 0;
  width: 100%;
  text-indent: 0;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  border-radius: 0;
  line-height: normal;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.1s ease-out;
}
.inputbox input[type='text']:focus {
  border-bottom: 2px solid #e8e8e8;
}

label,
input,
textarea {
  padding: 0.5em 0.3em;
  max-width: 100%;
  min-width: 100%;
  font-family: 'extR', Fallback, sans-serif;
}

.buttonbox {
  text-align: end;
  padding-top: 2rem;
  .btn {
    position: relative;
    border: 0;
    padding: 0;
    width: 18rem;
    height: 5.5rem;
    border-radius: 50rem;
    font-family: 'montR', Fallback, sans-serif;
    font-size: 2rem;
    cursor: pointer;
    &__text {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
    }
  }
  .btn--2 {
    overflow: hidden;
    background-color: #111;
    border: 2px solid #fff0e7;
    color: #fff0e7;
    .btn__text {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      line-height: 4.5rem;
      transition: top 0.5s;
    }

    &::after {
      position: absolute;
      top: 100%;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      line-height: 4.5rem;
      background-color: #5a2add;
      content: 'Smash It!!';
      transition: top 0.5s;
      font-size: 2rem;

      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
    }

    &:hover::after {
      top: 0;
    }
    &:hover > .btn__text {
      top: -100%;
    }
  }
}
