* {
  cursor: none;
}
.featured-section {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  align-items: start;
  align-content: space-evenly;
  justify-content: space-evenly;
  justify-items: center;
  gap: 2rem;

  padding-bottom: 10vh;

  .featured-row-layout {
    display: grid;
    gap: 2rem;

    h3 {
      align-self: start;
      font-size: 1.6vw;
      line-height: 1.5;
      font-family: 'montB', Fallback, sans-serif;
      font-weight: 500;
      color: hsl(22, 15%, 55%);
      letter-spacing: 1.33px;
    }
    h1 {
      font-size: 5vw;
      color: white;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-family: 'extU', Fallback, sans-serif;
      font-weight: 300;
      color: hsl(22, 55%, 85%);
      line-height: 0.9;
    }

    .btn {
      position: relative;
      .link {
        display: inline-block;
        // width: 40rem;
        font-weight: bold;
        padding: 1rem 0rem;
        text-decoration: none;
        text-align: center;
        color: #5a2add;

        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all 0.35s;
        font-size: 5rem;
        font-family: 'camar', Fallback, sans-serif;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
      }
      .link:hover {
        background: transparent;
      }

      .link:hover + .icons {
        right: 50%;
        opacity: 1;
      }
      .icons {
        width: 50px;
        height: 50px;
        border: 3px solid transparent;
        position: absolute;
        transform: rotate(45deg);
        right: 53%;
        top: 10%;
        z-index: 5;
        transition: all 0.35s;
        opacity: 0;
      }

      .icons svg {
        height: 3rem;
        position: absolute;
        top: calc(50% - 15px);
        left: calc(50% - 15px);
        transform: rotate(-45deg);
        fill: #fff0e7;
        transition: all 0.35s;
      }
    }
  }
  .featured-colum-layout {
    align-self: start;
    justify-items: center;
  }
  .featured-colum-layout svg {
    width: 70vw;
    height: 80vh;
  }
}

@media screen and (max-width: 992px) {
  .featured-section {
    grid-template-columns: 1fr;
    .featured-row-layout {
      display: grid;
      gap: 2rem;

      h3 {
        font-size: 5.5vw;
      }
      h1 {
        font-size: 7vw;
      }
    }
    .featured-colum-layout {
      align-self: start;
      justify-items: start;
    }
  }
}
@media screen and (max-width: 568px) {
  .featured-section {
    grid-template-columns: 1fr;
    .featured-row-layout {
      display: grid;
      gap: 2rem;

      h3 {
        font-size: 5.5vw;
      }
      h1 {
        font-size: 7vw;
      }
    }
    .featured-colum-layout svg {
      width: 70vw;
      height: 50vh;
    }
  }
}
