.featured-section {
  display: grid;
  grid-template-columns: 0.55fr 6fr;
  align-items: end;
  background-color: #111;

  align-content: center;
  justify-content: space-evenly;
  justify-items: center;
  svg {
    clip-path: inset(0% 0% 0% 0%);
  }

  .featured-row-layout {
    h3 {
      align-self: end;
      font-size: 2vw;
      font-family: 'extR', Fallback, sans-serif;
      font-weight: 500;
      color: hsl(22, 15%, 55%);
    }
  }
  .myname {
    transform: rotate(-45deg);

    h1 {
      font-size: 5vw;

      align-items: baseline;
      background-color: #5add;
      text-transform: uppercase;
      font-family: 'camar', Fallback, sans-serif;
      font-weight: 300;
      color: hsl(22, 55%, 85%);
    }
  }
}
@media screen and (min-width: 768px) {
  .featured-section {
    background-color: #5add;
  }
}
